:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #2e2f42;
  --hero-background-color: #2e2f42;
  --white-background-color: #ffffff;
  --modal-background: #fcfcfc;
  --background-hero-gradient: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  background-color: var(--white-background-color);
  color: var(--text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*------------------------HERO-------------------------*/

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.hero {
  padding-top: 112px;
  padding-bottom: 112px;

  background-image: var(--background-hero-gradient),
    url(../images/hero-bg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hero-background-color);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: var(--background-hero-gradient),
      url(../images/hero-bg-mob-2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.hero-title {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;

  color: var(--white-background-color);
}

.hero-btn {
  width: 169px;
  height: 56px;
  margin-top: 72px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background-color);

  background: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;

  cursor: pointer;
  transition: background-color 250ms var(--cubic);
}

.hero-btn:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
}

/* --------------------FEATURES------------------------------ */

.features {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-item-icon {
  display: none;
}

.features-item:not(:last-child) {
  margin-bottom: 72px;
}

.features-top-text {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--modal-overlay-color);

  margin-bottom: 8px;
}

.features-bottom-text {
  font-size: 16px;
  line-height: 1.5;
}

/* ----------------------------------PRODUCTS---------------------------------- */

.products {
  display: none;
}

/* -------------------------TEAM------------------------ */

.team {
  padding-top: 96px;
  padding-bottom: 96px;

  background-color: var(--light-color);
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;

  text-transform: capitalize;
  color: var(--dark-color);

  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
  align-items: center;
}

.team-item {
  width: 264px;

  background-color: var(--white-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-item-text {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-top-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--dark-color);

  margin-bottom: 8px;
}

.team-bottom-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-brand-color);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms var(--cubic);
}

.team-soc-icon {
  fill: #ffffff;
}

.team-soc-link:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
}

/* -------------CUSTOMERS------------------ */

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);

  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
}

.customers-link {
  width: 190px;
  height: 88px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;

  transition: border 250ms var(--cubic);
}

.customers-icon {
  fill: var(--subtle-text-color);

  transition: fill 250ms var(--cubic);
}

.customers-link:is(:hover, :focus) {
  border: 1px solid var(--pressed-state-color);
}

.customers-link:is(:hover, :focus) > .customers-icon {
  fill: var(--pressed-state-color);
}

/* ----------------------------FOOTER-------------------------------------- */

.footer {
  background-color: var(--dark-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 16px;
}

.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.footer-text {
  width: 268px;

  font-size: 16px;
  line-height: 1.5;
  color: var(--light-color);
}

.footer-soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-background-color);
  text-align: center;

  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms var(--cubic);
}

.footer-soc-icon {
  fill: #ffffff;
}

.footer-soc-link:is(:hover, :focus) {
  background-color: var(--success-color);
}

.sub-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--white-background-color);

  margin-bottom: 16px;
}

.sub-form {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.sub-input {
  width: 398px;
  height: 40px;
  padding: 8px 16px;

  border: 1px solid #ffffff;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  color: var(--light-color);
}

.sub-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
}

.sub-btn {
  width: 165px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  background: var(--primary-brand-color);
  border-radius: 4px;
  border-width: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background-color);

  transition: background-color 250ms var(--cubic);
  cursor: pointer;
}

.sub-btn:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
}
