:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #2e2f42;
  --hero-background-color: #2e2f42;
  --white-background-color: #ffffff;
  --modal-background: #fcfcfc;
  --background-hero-gradient: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--white-background-color);
  color: var(--text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------------HEADER-------------------------------------- */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--accent-color);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  gap: 332px;
}

.navigation {
  display: flex;
  gap: 76px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-color);
}

.header-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.navigation-list {
  display: flex;
  gap: 40px;
}

.navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  position: relative;
  transition: color 250ms var(--cubic);
}

.navigation-link.active-page {
  color: var(--pressed-state-color);
}

.navigation-link.active-page::after,
.navigation-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--pressed-state-color);
  border: 2px solid var(--pressed-state-color);
  border-radius: 2px;
  position: absolute;
  bottom: -28px;
  transform: scaleX(1);
}

.navigation-link:is(:hover, :focus) {
  color: var(--pressed-state-color);
}

.navigation-link::after {
  transform: scaleX(0);
  transition: transform 250ms var(--cubic);
}

.navigation-link:is(:hover, :focus)::after {
  transform: scaleX(1);
}

.header-address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms var(--cubic);
}

.address-link:is(:hover, :focus) {
  color: var(--pressed-state-color);
}

/* ----------------------------HERO-------------------------------------- */

.hero {
  background-color: var(--hero-background-color);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: var(--background-hero-gradient),
    url(../images/people-office-bg.jpg);
  background-size: 1440px;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
  margin-bottom: 48px;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
  cursor: pointer;
  display: block;
  border-width: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--primary-brand-color);
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms var(--cubic);
}

.hero-btn:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
}

/* ----------------------------FEATURES-------------------------------------- */

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-item-icon {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-color);
  border-radius: 4px;
  margin-bottom: 8px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: 264px;
}

.features-top-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.features-bottom-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ----------------------------PRODUCTS-------------------------------------- */

.products {
  padding-bottom: 120px;
}

.products-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.products-list {
  display: flex;
  gap: 24px;
}

/* ----------------------------TEAM-------------------------------------- */

.team {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team {
  background-color: var(--light-color);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--white-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.team-item-text {
  margin-top: 32px;
  padding-bottom: 32px;
}

.team-top-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.team-bottom-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--cubic);
}

.team-soc-icon {
  fill: #ffffff;
}

.team-soc-link:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
}

/* ----------------------------CUSTOMERS-------------------------------------- */

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
}
.customers-link {
  width: 168px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  transition: border 250ms var(--cubic);
}

.customers-icon {
  fill: var(--subtle-text-color);
  transition: fill 250ms var(--cubic);
}

.customers-link:is(:hover, :focus) {
  border: 1px solid var(--pressed-state-color);
}

.customers-link:is(:hover, :focus) > .customers-icon {
  fill: var(--pressed-state-color);
}

/* ----------------------------FOOTER-------------------------------------- */

.footer {
  background-color: var(--dark-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  width: 264px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  margin-bottom: 16px;
}

.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.footer-social {
  margin-left: 120px;
}

.footer-soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--cubic);
}

.footer-soc-icon {
  fill: #ffffff;
}

.footer-soc-link:is(:hover, :focus) {
  background-color: var(--success-color);
}

.footer-sub {
  margin-left: auto;
}

.sub-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
}

.sub-form {
  display: flex;
  margin-top: 16px;
}

.sub-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;

  border: 1px solid #ffffff;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  color: var(--light-color);
}

.sub-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
}

.sub-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px 24px;
  gap: 16px;

  background: var(--primary-brand-color);
  border-radius: 4px;
  border-width: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background-color);

  margin-left: 24px;
  transition: background-color 250ms var(--cubic);
  cursor: pointer;
}

.sub-btn:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
}

/* ----------------------------PORTFOLIO-------------------------------------- */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* ----------------------------FILTERS-------------------------------------- */

.filters-list {
  margin-bottom: 72px;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.filters-btn {
  background-color: var(--light-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  cursor: pointer;
  padding: 12px 24px;
  transition: background-color 250ms var(--cubic), box-shadow 250ms var(--cubic),
    color 250ms var(--cubic);
}

.filters-btn:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-background-color);
}

/* ----------------------------PROJECTS-------------------------------------- */

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.projects-link {
  display: block;
  transition: box-shadow 250ms var(--cubic);
}

.projects-item {
  background-color: var(--white-background-color);
}

.project-item-overlay {
  position: relative;
  overflow: hidden;
}

.projects-item-text {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  transition: border 250ms var(--cubic);
}

.projects-top-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--modal-overlay-color);
  margin-bottom: 8px;
}

.projects-bottom-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.projects-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects-link:is(:hover, :focus) .projects-item-text {
  border: 1px solid var(--light-color);
}

.overlay-text {
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--primary-brand-color);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}

.projects-link:is(:hover, :focus) .overlay-text {
  transform: translate(0);
}

/* ----------------------------MODAL-------------------------------------- */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.modal {
  width: 408px;
  min-height: 576px;
  background-color: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms var(--cubic);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
}

.modal-close-btn:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
}

.modal-close-btn:is(:hover, :focus) > .modal-btn-icon {
  fill: var(--white-background-color);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--modal-overlay-color);
}

.modal-form {
  margin-top: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: var(--subtle-text-color);
}

.modal-wrap {
  position: relative;
  margin-top: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms var(--cubic);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--cubic);
}

.modal-input:focus {
  border-color: var(--primary-brand-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--primary-brand-color);
}

.modal-textarea {
}

.modal-comment {
  margin-top: 4px;
  padding: 8px 16px;
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms var(--cubic);
}

.modal-comment:focus {
  border-color: var(--primary-brand-color);
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-checkbox {
  margin-top: 16px;
}

.privacy-label {
  display: flex;
  align-items: center;
}

.privacy-check {
  width: 16px;
  height: 16px;
  border: 1px solid var(--dark-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms var(--cubic), border 250ms var(--cubic),
    fill 250ms var(--cubic);
}

.modal-privacy:focus + .privacy-label .privacy-check {
  border-color: var(--pressed-state-color);
}

.modal-privacy:checked + .privacy-label .privacy-check {
  background-color: var(--pressed-state-color);
  border: transparent;
  fill: var(--light-color);
}

.privacy-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.privacy-link {
  color: var(--primary-brand-color);
  padding-left: 0.08em;
}

.modal-btn {
  display: flex;
  padding: 16px 32px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--white-background-color);
  border-width: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  cursor: pointer;
}

.modal-btn:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
}
